:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  background: white;
/*   background: linear-gradient(rgba(251, 251, 251, 0.678),rgba(255, 255, 255, 0.7)),url(assets/back.jpg); */
  background-size: cover;
  background-position: center;
  position: relative;
}




